<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Orders</title>
    <style>
        .container{
            width: 1000px;
            margin: 0 auto;
        }
        .sub_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        table, th, td{
            border: 2px solid black;
        }
        th, td{
            width: 250px;
            height: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Cookie Orders</h1>
        <div class="sub_header">
            <h3>All Orders:</h3>
            <a href="/cookies/new">+ New Order</a>
        </div>
        <table>
            <thead>
                <th>Customer Name</th>
                <th>Cookie Type</th>
                <th>Number of Boxes</th>
                <th>Actions</th>
            </thead>
            {% for order in orders %}
            <tbody>
                <td>{{order.name}}</td>
                <td>{{order.cookie_type}}</td>
                <td>{{order.num_of_boxes}}</td>
                <td><a href="/cookies/edit/{{order.id}}">Edit</a> | <a href="/cookies/remove/{{order.id}}">Delete</a></td>
            </tbody>
            {% endfor %}
        </table>


    </div>
</body>
</html>